<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="recovery-form bg-light mt-4 p-4">
                <form id="recovery-form" #lForm="ngForm" [formGroup]="recoveryForm" (ngSubmit)="submitrecovery(recoveryForm)" class="row g-3">
                    
                    <div class="col-12">
                        <label>* Usuario:</label>
                        <input type="text" formControlName="user" name="user" class="form-control" placeholder="Introducir Usuario" required>
                     </div>
                     <div class="col-12">
                        <div *ngIf="recoveryForm.controls['user'].invalid && (recoveryForm.controls['user'].dirty || recoveryForm.controls['user'].touched)" class="frm-err">
                            <div *ngIf="recoveryForm.controls['user'].errors.required">
                                Introducir Usuario
                            </div>
                        </div>
                    </div>   
                    <div class="col-12">
                        <label>Contraseña:</label>
                        <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="col-12">
                        <label>Repetir contraseña:</label>
                        <input type="password" formControlName="reppassword" name="reppassword" class="form-control" placeholder="Repetir Contraseña">
                    </div>
                    <div class="col-12">
                        <div *ngIf="incompleteFrm" class="frm-err">
                                Favor de completar formulario
                        </div>
                    </div>  
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>