<div class="credencial">
    <div class="heading">
        <h1 class="logo"><strong>BUAP</strong></h1>
        <ul class="subtitle">
            <li>Benemerita</li>
            <li>Universidad Autonoma</li>
            <li>de Puebla</li>
        </ul>
    </div>

    <div class="foto">
        this is la foto, ese
    </div>

    <img src="https://lh3.googleusercontent.com/-VaXjRFbQDoA/WsL35UJ-trI/AAAAAAAAEVY/y8iSVwwhSq4SyFE4LGaS71LyTcv6YcgygCL0BGAYYCw/h1365/2018-04-02.png" alt="">


    <ul class="datos">
        <li>
            201503685
        </li>
        <li>
            MARTIN ROLDAN ARAUJO
        </li>
        <li>
            LIC EN MERC Y MED DIG DIST
        </li>
        <li>
            COMPLEJO C UNIVERSITARIO
        </li>
    </ul>
</div>