.credencial {
    color: #00b4e1;
    font-family: 'Source Sans Pro';
    background-color: #002e4c;
    width: 8.56cm;
    height: 5.398cm;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.heading .logo,
.heading .subtitle,
.foto,
img,
.datos {
    position: absolute;
}

.heading .logo {
    letter-spacing: -0.4mm;
    top: -0.7cm;
    left: 0.6cm;
    font-size: 1cm;
}

.datos,
.heading .subtitle {
    list-style: none;
}

.datos {
    color: #B0BBC8;
    bottom: 0.2cm;
    font-size: 0.29cm;
    font-weight: 600;
    left: -0.78cm;
    letter-spacing: 0.1mm
}

.heading .subtitle {
    font-size: 2.6mm;
    left: 2cm;
    line-height: 3mm;
    font-weight: 600;
    color: #009cc3;
    top: .5cm
}

img {
    top: 50%;
    transform: translate(-25.5%, -32.2%) scale(0.6);
    z-index: -1;
}

.foto {
    content: url(https://firebasestorage.googleapis.com/v0/b/asturiasfire.appspot.com/o/DOCUMENTS_LIGUE%2FPLAYER%2FMknrhEhcHltk0qzyCmB%2Fpts.JPG?alt=media&token=17f09bfd-9c8f-4359-9c44-03ece48d6fd5);
    height: 3.005cm;
    width: 2.66cm;
    right: 0.2mm;
    top: 1cm;
    background-color: white;
}