<div class="card mb-3" style="max-width: 540px;margin: 0 auto;">
    <form id="filtersForm-id" [formGroup]="filtersForm" (ngSubmit)="filterByCategory()" class="row g-3">
        <div class="row no-gutters">
            <div class="card-body row">
                <div class="col-md-3">
                    <label>* Categoria</label>
                    <select class="form-select" formControlName="category" name="category" aria-label="Default select example" (change)="changeCategoriesiF($event.target.value, 1);onChangeCat($event.target.value);">
                <option value="0" selected="selected">Seleccione una categoría</option>
                <option value="{{cat.attr2}}" *ngFor="let cat of catalogsJson">{{cat.name}}</option>
              </select>
                </div>
                <div class="col-md-3">
                    <div *ngIf="!isEmptySubCat()">
                        <label>* SubCategoria</label>
                        <select class="form-select" formControlName="subCategory1" aria-label="Default select example" (change)="changeCategoriesiF($event.target.value, 2);onChangeSubCat1($event.target.value);">
                      <option value="0" selected>Seleccione una subcategoria</option>
                      <option value="{{cat1.attr2}}" *ngFor="let cat1 of subCatalog1">{{cat1.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>* Club</label>
                    <select class="form-select" formControlName="club" name="club" aria-label="Default select example" (change)="onChangeClub($event.target.value)">
                <option value="0" selected="selected">Seleccione un club</option>
                <option value="{{club.id}}" *ngFor="let club of clubs">{{club.name}}</option>
              </select>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" role="button" (click)="filterData()">
                    Enviar
                  </a>
                </div>
            </div>
        </div>
    </form>
</div>