<nav class="main-menu">
            <ul>
                <li>
                    <a (click)="loadHome()">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Inicio
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a (click)="loadPlayerModuleM()">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Registro Jugadores
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Salir
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    <div class="content-ng">
        <app-players *ngIf="loadPlayerModule"></app-players>
    </div>