<nav class="main-menu">
            <ul>
                <li>
                    <a (click)="loadHome()">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Inicio
                        </span>
                    </a>
                  
                </li>

                
                <li class="has-subnav" *ngFor="let menu of menusByRol">
                    <a (click)="loadPlayerModuleM(menu.attr4)">
                        <i class="fa {{menu.attr5}} fa-2x"></i>
                        <span class="nav-text">
                            {{menu.attr1}}
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="logout">
                <li>
                   <a (click)="logOut()">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Salir
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    <div class="content-ng">
        <ng-template adHost></ng-template>
    </div>