<div class="container">
  <div class="row">
      <div class="col-md-4 offset-md-4">
          <div class="login-form bg-light mt-4 p-4">
              <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="row g-3">
                  <h4>¡Bienvenidos!</h4>
                  <div class="col-12">
                      <label>Usuario:</label>
                      <input type="text" formControlName="username" name="username" class="form-control" placeholder="Usuario">
                  </div>
                  <div class="col-12">
                      <label>Contraseña:</label>
                      <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña">
                  </div>
                  <div class="col-12">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="rememberMe">
                          <label class="form-check-label" for="rememberMe">Recordarme</label>
                      </div>
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn btn-dark float-end">Iniciar</button>
                  </div>
              </form>
              <hr class="mt-4">
              <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="alert alert-danger" role="alert">
                <div *ngIf="loginForm.controls['username'].errors.required">
                    Favor de introducir nombre de usuario
                </div>
              </div>
              <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger" role="alert">
                <div *ngIf="loginForm.controls['password'].errors.required">
                    Favor de introducir contraseña
                </div>
              </div>
              
              <div *ngIf="errorValid" class="alert alert-danger" role="alert">
                Usuario o contraseña invalidos
              </div>
              <!-- <div class="col-12">
                  <p class="text-center mb-0">Have not account yet? <a href="#">Signup</a></p>
              </div> -->
          </div>
      </div>
  </div>
</div>