<div class="shadow filter-box">
  <div class="content mt-5">
     <div class="row">
      <div class="col-6">
        <form id="filtersForm-id" [formGroup]="filtersForm" (ngSubmit)="filterByCategory()" class="row g-3">
          <div class="col-12">
              <label>* Categoria</label>
              <select class="form-select" formControlName="category" name="category" aria-label="Default select example" (change)="changeCategoriesiF($event.target.value, 1)">
                  <option value="0" selected="selected">Seleccione una categoría</option>
                  <option value="{{cat.attr2}}" *ngFor="let cat of catalogsJson">{{cat.name}}</option>
                </select>
          </div>
          <div class="col-12" *ngIf="!isEmptySubCat()">
              <label>* SubCategoria</label>
              <select class="form-select" formControlName="subCategory1" aria-label="Default select example" (change)="changeCategoriesiF($event.target.value, 2)">
                  <option value="0" selected>Seleccione una subcategoria</option>
                  <option value="{{cat1.attr2}}" *ngFor="let cat1 of subCatalog1">{{cat1.name}}</option>
                </select>
          </div>
        </form>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar Jugador
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button> 
        </div>
  </div>
  </div>
</div>
<div class="shadow table-box">
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of allPlayers">
          <td>{{el.name}}</td>
          <td>{{el.lastName}}</td>
          <td>{{el.curp}}</td>
          <td>
              <button type="button" class="btn btn-labeled btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
              </button>
              <button class="ml-1" type="button" (click)="removeUserLiguePlayer(el.$key)" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </button>
            <button class="ml-1" type="button" (click)="sendToModalIdClient(el.$key)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalFiles">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  

  <!-- Modal -->
<div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Jugadores Asturias</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 450;px: 950px;" class="mx-auto" >
        <app-players-reg></app-players-reg>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="modalFiles"  tabindex="-1" aria-labelledby="modalFilesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFilesLabel">Registro de Jugadores Asturias</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="width: 97%;height: 500px;" class="mx-auto" >
          <app-documents></app-documents>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
 