/* Add application styles & imports to this file! */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import 'toas.css';

.frm-err{
    color: red;
}

/* Suffix this section at the end of your styles.css for toogling between @media screen and @media print mode */
/*############################################################################################################*/
/* app-credentials-print {
    display: none;
  } */
/*   
  @media print {
    app-credentials-filters {
      display: none;
    }
  
    app-credentials-print {
      display: block;
    }

    app-home {
      display: none;
    }
  } */
  /*#############################################################################################################*/